<div id="HomeWrapper">
    <section id="about-us">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h1>About An Soft India Pvt. Ltd.</h1>
                    <p class="lead">An Soft India Pvt. Ltd is an upcoming global company in business and technology transformation. Our people help businesses, Users and Web communities solve their toughest IT challenges in easy, simple and effective approach.</p>
                </div>
                <div class="center">
                    <h1>Our Approach</h1>
                </div>
                <div class="gap"></div>
                <div id="team-scroller" class="carousel scale">
                    <div class="carousel-inner">
                        <p>
                                <img class="img-responsive img-thumbnail img-circle" src="../img/small-banner.jpg" alt=""></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
