<div class="highlight">
    <hr class="featurette-divider">
    <div id="serListWrapper">
        <ul class="list-unstyled highlight">
            <li class="sev" ng-repeat="contact in contacts">
                <div class="service-details clearfix">
                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading">{{contact.name}}</h2>
                            <p class="lead"><span class="text-muted">{{contact.description}}  </span></p>
                            <span class="text-muted">{{contact.details}}</span>
                        </div>
                        <div class="col-md-5">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.083359217616!2d-78.58971458473665!3d35.846959480156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac59753dcd7621%3A0x9dd980d3d51d8960!2s2951+Millbrook+Woods+Dr%2C+Raleigh%2C+NC+27604!5e0!3m2!1sen!2sus!4v1457311670230"  width="150" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </li>
            
            <li> 
                                <div class="service-details clearfix">
                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading"> Profile Details</h2>
                            <p class="lead"><span class="text-muted">AN Soft  </span></p>
                            <span class="text-muted"> AN Soft India Private Limited  </span>
                        </div>
                        <div class="col-md-5">
                           <iframe width="560" height="315" src="https://www.youtube.com/embed/344OeAtLPUM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                  
            </li>
        </ul>
    </div>
    <hr class="featurette-divider">
</div>
