<div class="highlight">
    <div id="serListWrapper">
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search here..."
                    ng-model="searchStr">
            </div>
        </form>
        <ul class="list-unstyled highlight">
            <li class="sev" ng-repeat="tec in Technologies | filter:searchStr"
                style="background: url('imgs/{{tec.imgUrl}}') no-repeat">
                <div class="home-details clearfix">
                    <h3>{{tec.name}}</h3>
                    <i class="icon-gear icon-md icon-color1"></i>
                    <!--<ul class="list-unstyled list-inline">
                        <li>description: {{tec.description}}</li>
                    </ul>-->
                    <p>
                        {{tec.details}} 
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
